{% load static %}

html, body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

.left {
    background: #ffffff;
    box-shadow: 0 0 200px rgb(207, 226, 207);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position:fixed;
    left:0; top:0px; bottom: 0;
    width: 300px;
    overflow: auto;
}
.main {
    position: absolute;
    left:300px; top:0px; right:0; bottom:0;
    background-color:rgb(236,236,236);
    margin: 0px 0px 0px 3px;
    overflow: auto;
}

.logo {
    background-image: url('../../static/img/logo.svg');
    width: 179px;
    height: 230px;
    max-width: 100%;
    outline: none;
    border: 0;
}

.contener_login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.google_login {
    background-image: url('../../static/img/google.svg');
    width: 45px;
    height: 45px;
    max-width: 100%;
    border: 0;
    margin-right: 10px;
}

.vk_login {
    background-image: url('../../static/img/vk.svg');
    width: 50px;
    height: 50px;
    max-width: 100%;
    margin: 0 auto;
    border: 0;
}

.menu-text-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    font-size: 19px;
    font-family: 'Roboto';
    font-style: italic;
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 
}

.login-as {
    color: black;
    font-size: 15px;
    font-family: 'Roboto';
    font-style: italic;
}

.contener_login_and_ico {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.user-name {
    color: black;
    font-size: 19px;
    font-family: 'Roboto';
    font-style: italic;
    text-decoration: none; 
    color: inherit; 
}

.parent {
    position: relative;
    top: 0;
    left: 0;
  }

.mainfon {
    position: relative;
    background-image: url('../../static/img/mainfon2000.jpg');
    width: 100%;
    height: 800px;
}

.compass {
    position: absolute;
    background-image: url('../../static/img/compass_pastel.svg');
    width: 100px;
    height: 100px;
    top: 750px;
    left: 580px;
}

.contener-head-text {
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 520px;
    left: 160px;
}

.head-text{
    color: #566775;
    font-size: 40px;
    font-family: 'Roboto';
}

.sliders {
    top: 100px;
    height: 100px;
    margin: 100px 50px 100px 50px;
    padding: 0;
}

.carousel-item {
    display: flex;
    max-height: 800px;
}

#slide1 {
    background-image: url('../../static/img/1.jpg');
    width: 1920px;
    height: 1234px;
}

#slide2 {
    background-image: url('../../static/img/2.jpg');
    width: 1920px;
    height: 1234px;
}

#slide3 {
    background-image: url('../../static/img/3.jpg');
    width: 1920px;
    height: 1234px;
}

.carusel-text-head {
    color: white;
    font-size: 40px;
    font-family: 'Roboto';
}

.carusel-text {
    color: white;
    font-size: 20px;
    font-family: 'Roboto';
}

.avatar {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: 0px 10px 0px 0px;
}

.map {
    width: 500px;
    height: 550px;
}

.input-info {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.input-info .inputs {
    display:block;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-control {
    margin-right: 200px;
}

.checkbox-and-label {
    display:flex;
    flex-direction: row;
}

.checkbox-and-label .form-label {
    left: 0;
}

.checkbox-and-label .form-check {
    margin-left: 50px;
}

.inputs .exampleFormControlTextarea1 {
    height: 100px;
}

.trash-ico {
    background-image: url('../../static/img/trash.svg');
    width: 45px;
    height: 45px;
    max-width: 100%;
    border: 0;
    margin-right: 50px;
    cursor: pointer;
}

.contener-heders-trash-ico {
    display:flex;
    justify-content: space-between;
    align-items: normal;
    margin: 20px 0px 0px 0px;
}

.no-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fronts-all {
    color: black;
    font-size: 25px;
    font-family: 'Roboto';
    font-style: italic;
    text-decoration: none; 
    color: inherit; 
}