{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'add_remember/css/styles.css' %}" rel="stylesheet">

    <!-- Connecting fronts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,500&display=swap" rel="stylesheet">

    <!-- Connecting jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Connecting the Slick plugin -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <!-- Connecting the mapbox -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />

    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" sizes="16x16"/>
    <title>Сайт о впечатлениях</title>
</head>
<body>
    {% block left %}
    {% endblock %}

    <div class="main">
        <div class="input-info">
            <div class="map">
                <label for="exampleDataList" class="form-label">Искать место</label>
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                <datalist id="datalistOptions">
                <option value="San Francisco">
                <option value="New York">
                <option value="Seattle">
                <option value="Los Angeles">
                <option value="Chicago">
                </datalist>
                <div class="d-grid gap-2 d-md-block">
                    <form id="find-place-form">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" type="button">Найти</button>
                    </form>
                </div>
                {% block map %}
                {% endblock %}
            </div>
            <div class="inputs">
                <form id="add-remember-form">
                    {% csrf_token %}
                    <div class="mb-3">
                        <div class="checkbox-and-label">
                            <label id="name-place-add" for="exampleFormControlInput1" class="form-label">Названия места</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                Название совпадает с картой
                                </label>
                            </div>
                        </div>
                        <input class="form-control" id="exampleFormControlInput1" placeholder="Красноярск">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Ваши впечатление</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="14"></textarea>
                    </div>
                    <div class="d-grid gap-2 d-md-block">
                        <button type="submit" class="btn btn-primary">Добавить воспоминание</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Connecting bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <script src="{% static 'add_remember/js/script.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>