{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- Connecting fronts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,500&display=swap" rel="stylesheet">

    <!-- Connecting jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Connecting the Slick plugin -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" sizes="16x16"/>
    <title>Сайт о впечатлениях</title>
</head>
<body>
    {% block left %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    <!-- Connecting bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('.trash-ico').on('click', function() {
                const postId = $(this).data('id');
                const dataToSend = `${postId}`;
                const csrfToken = document.querySelector('[name="csrfmiddlewaretoken"]').value;

                $.ajax({
                    url: '/accounts/profile/delete-remember/',
                    type: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    },
                    data: JSON.stringify({'data': dataToSend}),
                    success: function(response) {
                        console.log('Success:', response);
                        window.location.replace('/accounts/profile/');
                    },
                    error: function(error) {
                        console.log('Error:', error);
                    }
                });
            });
            $('.trash-ico').on('mouseenter', function() {
                    $(this).css('opacity', '0.3');
                }).on('mouseleave', function() {
                    $(this).css('opacity', '1');
            });
        });
    </script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>