{% extends 'profile/base.html' %}

{% block left %}
    {% include '../mainpage/left.html' %}
{% endblock %}

{% block main %}
<div class="main">
    <ul>
        {% for p in posts%}
        <div class="contener-heders-trash-ico">
            <h2>{{p.address}}</h2>
            <form>
                {% csrf_token %}
                <img id="trash-ico-{{p.id}}" class="trash-ico" data-id="{{p.id}}"></img>
            </form>
        </div>
        <p>{{p.description}}</p>
        <hr>
        {% empty %}
        <div class="no-posts">
            <p class="fronts-all">У вас пока нет воспоминаний</p>
            <a href="/accounts/add-impress/" class="add-memory-btn">Добавить воспоминания</a>
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}
