{% load socialaccount %}

{% block left %}
<div class="left">
    <button onclick="window.location.href='/'" style="border: none; background: none;">
        <object class="logo" style="pointer-events: none;"></object>
    </button>
    <a href="/" class="menu-text-item">Главная<br></a>
    {% if user.is_authenticated %}
        <a href="/accounts/add-impress/" class="menu-text-item">Добавить воспоминание<br></a>

    {% endif %}
    {% if user.is_authenticated %}
    <div class="contener_login">
        <a class="menu-text-item" href="/logout">Выйти</a>
    </div>
    <div class="contener_login">
          <img class= "avatar" src="{{ user.socialaccount_set.all.0.get_avatar_url }}">
          <span class="user-name">Привет, {{ user.username }}</span>
    </div>
    {% else %}
    <div class="contener_login_and_ico">
        <span class="login-as">Войти c помощью</span>
        <div class="contener_login">
            <form action="{% provider_login_url 'google' %}" method="post">
                {% csrf_token %}
                <button type="submit" style="border: none; background: none;">
                    <object class="google_login" style="pointer-events: none;"></object>
                </button>
            </form>
            <form action="{% provider_login_url 'vk' %}" method="post">
                {% csrf_token %}
                <button type="submit" style="border: none; background: none;">
                    <object class="vk_login" style="pointer-events: none;"></object>
                </button>
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}