{% load static %}
{% load socialaccount %}

{% block main %}
<div class="main">
    <div class="parent">
        <object class="mainfon"></object>
        <!-- <object class="compass"></object> -->
        <div class="contener-head-text">
            <span class="head-text"><strong>
                Добро пожаловать на наш сайт!
                <br> Здесь вы можете сохранять свои впечатления о посещенных местах <br>
                 и делиться ими с другими людьми.
            </strong></span>
        </div>
    </div>
    <div class="sliders">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img id="slide1" class="d-block w-100" >
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="carusel-text-head"><strong>Список воспоминаний</strong></h5>
                    <p class="carusel-text" >Добававляйте воспоминание</p>
                </div>
              </div>
              <div class="carousel-item">
                <img id="slide2" class="d-block w-100" >
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="carusel-text-head"><strong>Карта</strong></h5>
                    <p class="carusel-text">Отмечайте места на карте которые вы посещали</p>
                </div>
              </div>
              <div class="carousel-item">
                <img id="slide3" class="d-block w-100" >
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="carusel-text-head"><strong>Профиль</strong></h5>
                    <p class="carusel-text">Авторизируйтесь чтобы ничего не потерять</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div>
{% endblock %}